/* Fond principal */
.login-page {
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at top, #0f3d1f, #000);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.background {
  position: absolute;
  top: -25%;
  right: 0;
  width: 800px;
  height: 800px;
  background-image: url("login-background.png");
  background-size:  contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
}

.login-card {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  padding: 40px 35px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 0 40px rgba(12, 232, 1, 0.7);
  z-index: 1;
}

.logo {
  width: 60px;
  height: 60px;
  background-color: #1ed760;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 15px;
}

.title {
  color: white;
  font-size: 28px;
  margin-bottom: 10px;
}

.subtitle {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 25px;
}

.redirect-text {
  font-size: 12px;
  color: #777;
  margin-top: 12px;
}

.spotify-button {
  background-color: #1ed760;
  color: black;
  border: none;
  padding: 14px 32px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.spotify-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(30, 215, 96, 0.5);
}
